---
layout: default
---

<div class="container">
  <img src="{{ '/assets/avatar/4990.png' | relative_url }}" alt="Avatar" class="avatar">
  
  <!-- Social Links -->
  <ul class="social-links">
    {% for social in site.social_links %}
    <li><a href="{{ social[1] }}" target="_blank">{{ social[0] | capitalize }}</a></li>
    {% endfor %}
  </ul>

  <!-- Blog Posts -->
  <section class="posts">
    <h2>Posts</h2>
    {% for post in site.posts %}
    <article class="post">
      <p class="post-date">{{ post.date | date: "%B %d, %Y" }}</p>
    </article>
    {% endfor %}
  </section>
</div>
